.main{
  margin: 100px auto 0 auto;
  width: 600px;
}

#logs, #reports{
  display: none;
}

#browsers{
  margin-top: 20px;
}

#logs{
  .pass{
    color: #008000;
  }
  .pending{
    color: #00ffff;
  }
  .fail{
    color: #ff0000;
  }
  .warn{
    color: orange;
  }

  .debug, .info, .error{
    color: #808080;
  }
}

#reports{
  .controls{
    overflow: hidden;
    >h2{
      float: left
    }
    >div{
      margin-top: 10px;
      float: right
    }
  }
}

#mainForm{

}